<h2>Postagens: </h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>
<li class="dropdown btn btn-secondary">
  <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filtrar Por Categoria:
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/minhasPostagens">Todos</a></li>
    <hr>

    {{#each categorias}}
    <li><a class="dropdown-item text-capitalize" href="/filtroMinhasPostagens/{{slug}}">{{nome}}</a></li>
    {{/each}}
  </ul>
</li>
{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <!-- Conteúdo específico para todas as postagens -->
    <ul class="navbar-nav position-absolute top-0 end-0 me-2 mt-2 ">
      <li class="dropdown">
        <a class="nav-link  active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path
              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
          </svg>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-capitalize" href="/usuario/postagens/edit/{{_id}}">Editar</a></li>
          <li><a href="/usuario/postagens/deletar/{{_id}}" class="dropdown-item text-capitalze">Excluir</a></li>
        </ul>
      </li>
    </ul>

    <H4 class="text-capitalize"> {{titulo}}</H4>
    <small class=""><strong>Descrição:</strong> {{descricao}}</small>
    <br>
    <small class="text-capitalize"><strong>Categoria:</strong> {{categoria.nome}}</small>
    <br>
    <a href="/postagem/{{slug}}"><button type="button" class="btn btn-secondary mt-2">Ler Mais</button></a>
    <hr>
    <small>Data de publicação: {{data}}</small>
    <br>
  </div>
</div>
{{else}}
<!-- Se não houver postagens disponíveis -->
<p>Postagens vazias!</p>
{{/each}}
